nav.navigation 
  .navigation__container 
    .navigation__logo
      a(href='/')
        img(src=PrismicDOM.asImageSrc(navigation.data.logo))
    .navigation__links
      a(href=`?lang=${oppositeLang}`).navigation__links__locale FR | EN
      each slice of navigation.data.body
        if (slice.slice_type == 'navigation_cta')
          each item of slice.items
            a(href=PrismicDOM.asLink(item.navigation_cta_link))=item.navigation_cta_link_label
      button(data-menu-button) Menu
    .navigation__inner__links
      .navigation__links__item
        a(href=`?lang=${oppositeLang}`) en/fr
      each slice of navigation.data.body
        if (slice.slice_type == 'navigation_link')
          .navigation__links__item
            a(href=PrismicDOM.asLink(slice.primary.navigation_link_url))=slice.primary.navigation_link_label
