//- .whatsapp
//-   a.whatsapp__link(href=whatsapp.data.link target="_blank")
//-     img.whatsapp__image(data-src=whatsapp.data.image.url alt=whatsapp.data.image.alt)
.whatsapp
  a.whatsapp__link(aria-label="Entre em contato", href=whatsapp.data.link target="_blank")
    img.whatsapp__image(alt="Entre em contato", data-src=whatsapp.data.image.url)