block variables

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    base(href="/")

    title=document.data.title

    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    //- link(rel="manifest" href="/site.webmanifest")
    //- link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff3a00")

    link(href="main.css" rel="stylesheet")
    link(href="main.css" rel="stylesheet")
    link(rel="stylesheet" href="https://use.typekit.net/nxa2vzb.css")

    meta(name="msapplication-TileColor" content="#f4d8cc")
    meta(name="theme-color" content="#f4d8cc")

    meta(property="og:type" content="website")
    meta(property="og:title" content=document.data.title)
    meta(property="og:description" content=document.data.description)
    meta(property="og:image" content=document.data.image ? document.data.image.url : '')

    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:title" content=document.data.title)
    meta(name="twitter:description" content=document.data.description)
    meta(name="twitter:image" content=document.data.image ? document.data.image.url : '')
  
  body(data-phone=isPhone)
    //include ./partials/preloader
    include ./partials/navigation

    main.content#content(data-template=template)
      block content
    
    include ./partials/footer
    //include ./partials/whatsapp
  script(src="main.js") 